body {
    height: 100%;
    width: 100%;
    background-image: url("../img/registroimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
    scroll-behavior: auto;
  }
.submit{
	width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:4px;
	color:#fff;
	background-color:#000;
} 
.volver{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: burlywood;
    font-weight: bold;
}
.bienvenido{     
    margin-top: 10cm;
    font-size: 30px;
    font-weight: bold;
    font-size: 30px;

}