
footer h2{
    color: white;
    text-align: center;
    font:  monospace;
    font-size: 20px;
}

#cuadro1{
    height: 200px;
    width: 25%;
    float: left;
    margin-top: 0.5cm;
}

#cuadro1 h1{
    color: wheat;
    text-align: center;
    font:  monospace;
}
#cuadro1 p{
    margin-left: 1cm;
    margin-top: 0.5cm;
    color: white; 
}
#cuadro2{   
    height: 200px;
    width: 25%;
    float: left;
    text-align: justify;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
}

#cuadro2 a {
    color: white;
    text-decoration: none;
    margin-top: 0.5cm;

}
#cuadro2 a:hover{
    color: burlywood;
    font-weight: bold;
}
#cuadro3{   
    height: 200px;
    width: 25%;
    float: left;
    margin-top: 0.5cm;
}
#cuadro3{
    
    height: 300px;
    width: 25%;
    float: left;
    text-align: center;
}
#cuadro4{
    margin-top: 0.5cm;
}

#final{
    float: right;
    background-color: black;
    width: 100%;
    text-align: center;
}
#final a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#final a:hover{
    color: #e1e1e1;
    font-weight: bold;
}

#final p{
    background-color: black;
    text-align: center;
}
.in {
    margin-top: 1cm;
    transition: transform .2s;
   padding-bottom: 0.5cm;
}
.in:hover {
    transform: scale(1.5); 
}
.tw {
    transition: transform .2s; 
    padding-bottom: 0.5cm;
}
 
.tw:hover {
    transform: scale(1.5); 
}
.fb {
    transition: transform .2s; 
    padding-bottom: 0.5cm;
}
.fb:hover {
    transform: scale(1.5); 
}
#cuadro4 td{
    color: white;
    font-weight: bold;
    padding: 10px;
  
}
.input{
    background: #e1e1e1;
    width: 100%;
}
#cuadro4 .submit{
    background: #e1e1e1;
    width: 100%;
    color: black;
}


#cuadro4 form{
   
    justify-content: center;
    align-items: center;
}