
body {
    height: 100%;
    width: 100%;
    background-image: url("../img/indeximg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    scroll-behavior: auto;
  }
  #imgtit{
      text-align: center;
      margin-top: 5cm;
   
      position: fixed;
      margin-left: 19cm;
      margin-top: 4cm;
  }
  #login{
      margin-left: 21cm;
      margin-top: 0cm;
      position: fixed;
      margin-left: 21cm;
      margin-top: 10cm;

}
.submit{
    width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:4px;
	color:#fff;
	background-color:#000;
} 
.reg:hover{
    color: burlywood;
    font-weight: bold;
}
.reg{
    text-decoration: none;
    color: black;
}
td{
    line-height: 1cm;
}