*{
    margin: 0;
    padding: 0;
}

body{
   
    font-family: fantasy;
}
.main{
    width: 100%;
    max-width: 1920px;
    background: #f3f1f0;
    margin: 0 auto;
    overflow: hidden;
    font-family: fantasy;
}
h2{
    color: brown;
    font-weight: bold;  
    font-size: 19px;;
}
p{
  
    font-weight: bold;
    line-height: 0.8cm;
    margin-left: 0.1cm;
    font-size: 17px;
}
#centro{
    float: left;
    width: 40%;
    margin-bottom: 0 auto;
    
}
#centro img{
    margin: auto;
    display: block;
  

}

#txtder{
    float: left;
    margin-top: 3cm;
    background: #e1e1e1;
    padding: 1%;
}
#ofe{
    border: 1px solid black;
    float: left;
    width: auto;
    height: auto;
}
table{ 
    margin: 0 auto;
}
.submit{
  width:100%;
  padding:8px 16px;
  border:1px solid #000;
  border-radius:4px;
  color:#fff;
  background-color:#000;
} 
.reg:hover{
  color: burlywood;
  font-weight: bold;
}
.reg{
  text-decoration: none;
  color: black;
}
td{
  line-height: 1cm;
}
footer{
    float: right;
    background-color: #000;
    width: 100%;
    height: 0 auto;
}



@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
    }
}
@media screen and (max-width:1280px){
    .main{
        width: 100%;
    }
    
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
        margin-top: 0;
    }
}
@media screen and (max-width:1600px){
    .main{
        width: 100%;
    }
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
    }
}

