*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    background-image: url("../img/indeximg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    scroll-behavior: auto;
  }
  h2{
      color: burlywood;
      font-weight: bold;
      text-decoration-line:overline underline ;
  }
  p{
      color: rgb(251, 230, 202);
      font-weight: bold;
      line-height: 0.8cm;
      margin-left: 0.1cm;
      font-size: 17px;
  }
  #txt{

      background-color:#fff
  }
  #txt1{
      position: fixed;
      margin-top: 5cm;
      margin-left: 2%;
   
  }
  #txt2{
    position: fixed;
    margin-top: 10cm;
    margin-left: 2%;
 
  }
  #txt3{
    position: fixed;
    margin-top: 15cm;
    margin-left: 2%;
    width: 27%;
  
  }
  #txtder{
    
      position: fixed;
      margin-left: 70%;
      margin-top: 9cm;
      line-height: 0.8cm;
      width: 27%;
      text-align: justify;
  }
  #imgtit{
      text-align: center;
      margin-top: 5cm;
      position: fixed;
      margin-left: 19cm;
  }
  #login{
      margin-left: 21cm;
      margin-top: 0cm;
      position: fixed;
      margin-left: 21cm;
      margin-top: 12cm;

}
.submit{
    width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:4px;
	color:#fff;
	background-color:#000;
} 
.reg:hover{
    color: burlywood;
    font-weight: bold;
}
.reg{
    text-decoration: none;
    color: black;
}
td{
    line-height: 1cm;
}