/* *{margin:0;padding:0;box-sizing:border-box;}   */
/* header #menu a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      } */
body {
      margin: 0;
}
header {
      margin: 0;
      padding: 5px 10px 0 10px;
      background-color: #053041;
      top: 0;
     
    
}

header a {
      color: white;
      text-decoration: none;
}

@font-face {
      font-family: 'PressStart2P';
      src: url("..\\inc\\PressStart2P.ttf")
}

header #logo {
      display: flex;
      justify-content: left;
}

header #links ul {
      list-style: none;
      margin: 0;
      padding: 0;
}

header #botones {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header #links {
      font:  monospace;
      font-weight: 300;
      width: auto;
}
            
header #links  li {
      box-sizing:border-box;
      display:inline-block;
      width: auto;
      height:30px;
      padding:5px 10px;
      background-color:#375967;
      border:1px solid #375967;
      text-align:center;
      color: white;
      margin-right: 5px;
      border-radius: 10px 10px 0 0;
}

header #login_reg_logout {
      font:  monospace;
      color: #bfd312;
      margin-bottom: 5px;
}

header #login_reg_logout a {
      color: #f64598;
}
