
.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  

  
  
  .box {
    float: left;
    position: relative;
    padding-bottom: 50%;
    width: 40%;
    background-color: transparent;
  }
  
  
  .box-inner {
    position: absolute;
    top: 14em;
    bottom: 14em;
    left: 10em;
    right: 10em;
    border: 1px solid rgb(153, 116, 116);
    background-color: white;
  }