p, ul, li{
    text-align: justify;
    padding-left: 4cm;
    padding-right: 4cm;
    font-size: 17px;
    font-family: fantasy;
    line-height: 0.8cm;
    color: #274755;
    text-decoration: none;
}


#principal{
    border: 1px solid black;
    float: left;
    width: 65%;
    float: left;

}

#principal h1,h2{

    text-align: center;
    color: #053041;
    font-family: fantasy;

}

#principal img{
    
    content: "";
    background: transparent url(MoneyIcon.png) scroll no-repeat 0 0;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    display: block;
    top: 12.5cm;
    left: 28cm;
}
#secundario{
    height: 500px;
    float: right;
    width: 30%;
    border: 1px solid black;

}
#secundario h1{
    text-align: center;
}

#redes{

    width: 30%;
    height: 5cm;
   border: 1px solid black;
    float: right;
}

#redes h1{
    text-align: center;
}


