@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
    }
}
@media screen and (max-width:1280px){
    .main{
        width: 100%;
    }
    
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
        margin-top: 0;
    }
}
@media screen and (max-width:1600px){
    .main{
        width: 100%;
    }
    #centro{
        width: 100%;
    }
    #txtder{
        width: 100%;
    }
}
body{
    height: 100vh;
    width: 100%;
    font-family: fantasy;
    
}
body img{
    text-align: center;
}
#main{
    width: 80%;
    margin-left: 10%;
}
p{
    text-align: justify;
    font-size: 17px;
    line-height: 0.8cm;
    text-decoration: none;
    padding-left: 0.25cm;
    padding-right: 0.25cm;
}
h2{
    height: 0.8cm;
    width: 100%;
    text-align: center;
    margin-top: 1cm;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    border-bottom: 1px solid black;
}
#qs{

    height: 0 auto;
    width: 100%;
    background: linear-gradient(to bottom, #f6f4f4, white);
}
#qs img{
    margin: 0 auto;
    display: block;
}
#qns{
    height: 0 auto;
    width: 100%;
    background: linear-gradient(to bottom, #f6f4f4, white);
}
#qns img{
    text-align: center;
}
.float{
    margin:  auto;
    display: block;
    text-align: center;
}
#sci{
    height: 0 auto;
    width: 100%;
    background: linear-gradient(to bottom, #f6f4f4, white);
}
#team{
    border: 1px solid red;
}
#anthoy{
    border: 1px solid green;
}
#anthony img{
    border: 1px solid green;
    width: 0 auto;
}
#img4{
    text-align: center;
    width: 100%;
    margin: 0;
    float: right; 
}
#img4 h2{
    text-align: center;
    font:  monospace;
    color: #274755;
    text-decoration:underline;   
}

#redes{
    height: 6cm;
    float: right;
    width: 30%;
}
#redes h2{
    text-align: center;
    font:  monospace;
    color: #274755;
}
table{
    background-color:#375967;
    color: whitesmoke;
    border-radius: 4px;
    border-color: gray;
    margin: 0 auto;
}
td{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.submit{
	width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:4px;
	color:#fff;
	background-color:#000;
} 

footer{
    float: right;
    background: -webkit-linear-gradient(90deg, black 10%, #053041 90%);
    width: 100%;
    height: auto;
}

