*{
  margin: 0;
  padding: 0;
}
body{
  font-family: fantasy;
}
  #form_registro{
    border: 1px solid black;
    width: 100%;
    margin-top: 1cm;
    
  }
  table{
    border: 1px solid black;
  }
.volver:hover{
    color: burlywood;
    font-weight: bold;
}
.volver{
    text-decoration: none;
    color: black;
}

.submit{
  width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:4px;
	color:#fff;
	background-color:#000;
} 

table h2{
  font: monospace;
}

td{
  font: monospace;
  line-height: 1.5cm;
}
footer{
  float: right;
  background-color: #000;
  width: 100%;
  height: auto;
}
@media screen and (max-width:800px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
@media screen and (max-width:1280px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
@media screen and (max-width:1600px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
