
body{
  font-family: fantasy;
}
#form_registro{
    margin:  100px auto;    
}

footer{
  float: right;
  background-color: #000;
  width: 100%;
  height: auto;
}


@media screen and (max-width:800px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
@media screen and (max-width:1280px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
@media screen and (max-width:1600px){
  .main{
      width: 100%;
  }
  #form_registro{
      width: 100%;
  }
 
}
