.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  .box-container {
    width: 60%;
    margin: 0 auto;
  }
  
  .box-container::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .box {
    float: left;
    position: relative;
    padding-bottom: 50%;
    width: 40%;
    background-color: transparent;
  }
  
  
  .box-inner {
    position: absolute;
    top: 10em;
    bottom: 10em;
    left: 10em;
    right: 10em;
    border: 1px solid #333;
  }