body{

    background-color: #FDFDFD;

}


#mp{


    border: 1px solid black;

}


#qs1{

    margin-left: 5cm;
    margin-right: 5cm;
    margin-top: 1cm;
    font-family: Helvetica;
    background-color: #b3d6ff;
    font-weight: bold;
    line-height: 25px;

}